/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    /* Apply Lato as the default font for the body */
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #161616f8;
}

/* Apply Oswald for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

header a {
    text-decoration: none;
    color: #161616f8;
}

header a:hover {
    color: coral;
}

ul {
    list-style-type: none;
}

/* Header */
header {
    background-color: #eff3bd;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #161616f8;
    height: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #eff3bd;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #161616f8;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Main Content */
main {
    background-color: coral;
    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
    padding-top: 50px;

}

/* Footer */
footer {
    background-color: #eff3bd;
    padding: 0.5rem;
}

/* Social Networks List */
#social-networks {
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
}

#social-networks li {
    margin: 0 1rem;
}

#social-networks a {
    font-size: 1.5rem;
}

/* Tablets and larger screens */
@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
        padding: 0 2rem;
    }

    #logo {
        font-size: 3rem;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        box-shadow: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    main {
        padding-top: 72px;
    }
}

/* Laptops and Desktops */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #161616f8;
    }
}