/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    /* Apply Lato as the default font for the body */
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black
}

/* Apply Oswald for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}


/* Header */
header {
    background-color: lightyellow;
}

/* Main Content */
main {
    background-color: coral;
    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: yellow;
}